*{
    margin: 0;
    padding: 0;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.mid-content{
    max-width: 1170px;
    margin: auto;
}

/* Begain Main css */
body,h1,h2,h3,h4,h5,h6,p,a,span{
    font-family: 'Work Sans', sans-serif;
}
.header {
	background-color: #f9f9f9;
	box-shadow: 2px 2px 20px 0 rgba(0,0,0,.5);
}
.header-logo{
    width: 15%;
}
.header-logo a{

}
.header-logo img {
	width: 150px;
	padding: 7px 0;
}
.header-menu {
	width: 75%;
	float: left;
}
.header-menu ul {
	list-style: none;
	margin-bottom: 0;
}
.header-menu ul li{
    display: inline-block;
    margin-left: -4px;
}
.header-menu ul li a {
	display: inline-block;
	padding: 10px 20px;
	line-height: 29px;
	/* border-left: 1px solid #ddd; */
	color: #222;
	font-size: 20px;
    transition: .4s;
}
.header-menu ul li a span {
	font-size: 15px;
}
.header-menu ul li:hover > a{
    color: #ff4135;
}
.header-btn{
    width: 15%;
}

/* Dropdown-menu */
.header-menu ul li{
    position: relative;
}
.header-menu ul li ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 268px;
	background-color: #fff;
	text-align: left;
	opacity: 0;
	visibility: hidden;
	transition: .4s;
	transform: scaleY(0);
	transform-origin: top center;
}
.header-menu ul li ul li {
	display: block;
	padding: 0px 40px;
}
.header-menu ul li ul li a {
	display: inline-block;
	border-bottom: 1px solid #ddd;
	padding: 10px 50px 10px 0px;
}
.header-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.banner-section{
    background: url(https://i.ibb.co/jVMg7qt/banner.gif) no-repeat center;
    background-size: cover;
    padding: 220px 0;
}



.about-section{
    padding: 30px 0;
}
.about-section{}
.about-content{

}
.about-content .about-text-left{
    width: 35%;
    box-sizing: border-box;
}
.about-text-left h1 {
	color: #222;
	margin-bottom: 5px;
}
.about-text-left p{
    color: #222;
    margin-bottom: 5px;
}
.about-content .about-img{
    width: 28%;
    margin-right: 1%;
    margin-left: 1%;
    box-sizing: border-box;
}
.about-content .about-text-right{
    width: 35%;
    box-sizing: border-box;
}
.about-content .about-text-right h1 {
	color: #222;
	margin-bottom: 5px;
}
.about-content .about-text-right p {
	color: #222;
	margin-bottom: 5px;
}

.service-section {
	padding: 30px 0;
}
.our-service {
	color: #222;
	margin: 40px 0;
}
.our-service h1{}
.our-service p {
	margin: 10px 0;
	font-size: 18px;
}
.s-item{
    width: 23%;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}
.s-item .icon {
	font-size: 40px;
	color: #fff;
}
.s-item a span {
	width: 80px;
	height: 80px;
	display: inline-block;
	background-color: #4bbbfa;
	line-height: 80px;
	border-radius: 10px;
}
.s-item h2 {
	margin: 20px 0;
}
.s-item h2 a {
	color: #222;
}
.s-item p {
	color: #8a8686;
	margin-bottom: 20px;
}
.btn{}
.btn a {
	color: #222;
	font-weight: 700;
	font-size: 20px;
	display: inline-block;
	border-bottom: 3px solid #b8c2cb;
	padding: 5px 0;
}

.btn a:hover{
    color: #4bbbfa;
}

.contact-section{}

.google-map{
    width: 48%;
}
.address{
    width: 48%;
    margin-bottom: 30px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
  }
  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
  }
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
  }
  textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
  }
  input[type=submit] {
    background-color: #4bbbfa;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 4px;

}

.footer-section{
    background-color: #2a2a2a;
    padding: 20px 0;
}
.footer-text{
    width: 50%;
    color: #fff;
}
.social-icon{
    width: 50%;
}
.social-icon ul{
    list-style: none;
}
.social-icon ul li{
    display: inline-block;
}
.social-icon ul li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    background-color: #4bbbfa;
    margin-right: 20px;
}
.social-icon ul li a:hover{
    background-color: #1e6c99;
}